<div id="giscus-container" class="giscus"></div>

<script>
  function getCurrentTheme() {
    const htmlTheme = document.documentElement.getAttribute("data-theme");
    return htmlTheme === "dark" ? "catppuccin_mocha" : "catppuccin_latte";
  }

  function loadGiscus(theme) {
    const script = document.createElement("script");
    script.src = "https://giscus.app/client.js";
    script.setAttribute("data-repo", "glennhenry/cs-notes");
    script.setAttribute("data-repo-id", "R_kgDOJ88kJw");
    script.setAttribute("data-category", "Notes");
    script.setAttribute("data-category-id", "DIC_kwDOJ88kJ84CrkEH");
    script.setAttribute("data-mapping", "pathname");
    script.setAttribute("data-strict", "0");
    script.setAttribute("data-reactions-enabled", "1");
    script.setAttribute("data-emit-metadata", "0");
    script.setAttribute("data-input-position", "bottom");
    script.setAttribute("data-theme", theme);
    script.setAttribute("data-lang", "en");
    script.crossOrigin = "anonymous";
    script.async = true;

    document.getElementById("giscus-container").appendChild(script);
  }

  function changeGiscusTheme(theme) {
    const iframe = document.querySelector("iframe.giscus-frame");
    if (!iframe) return;

    iframe.contentWindow.postMessage(
      {
        giscus: {
          setConfig: { theme },
        },
      },
      "https://giscus.app"
    );
  }

  window.addEventListener("DOMContentLoaded", () => {
    const theme = getCurrentTheme();
    loadGiscus(theme);
  });

  const observer = new MutationObserver(() => {
    changeGiscusTheme(getCurrentTheme());
  });

  observer.observe(document.documentElement, {
    attributes: true,
    attributeFilter: ["data-theme"],
  });
</script>
