:root {
  --ifm-color-primary: #5317a4;
  --ifm-color-primary-dark: #4b1594;
  --ifm-color-primary-darker: #47148b;
  --ifm-color-primary-darkest: #3a1073;
  --ifm-color-primary-light: #5b19b4;
  --ifm-color-primary-lighter: #5f1abd;
  --ifm-color-primary-lightest: #6c1ed5;
  --ifm-background-color: #faf8fc;
}

article {
  margin-left: 20px;
  margin-right: 20px;
}

html[data-theme="dark"] {
  --ifm-color-primary: #d09bf1;
  --ifm-color-primary-dark: #d08cfa;
  --ifm-color-primary-darker: #c777f9;
  --ifm-color-primary-darkest: #ae39f7;
  --ifm-color-primary-light: #f2e0fe;
  --ifm-color-primary-lighter: #fbf5ff;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #1d1f25;
}

img {
  border: 1px solid black;
}

video {
  border: 1px solid black;
}
