:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #236440;
  --ifm-color-primary-lighter: #236440;
  --ifm-color-primary-lightest: #236440;
  --ifm-background-color: #f9fffe;
}

[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #20a78a;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --ifm-background-color: #25c2a0;
}

img :not(navbar__logo) {
  border: 1px solid black;
}

video {
  border: 1px solid black;
}
