:root {
  --ifm-color-primary: #0918dd;
  --ifm-color-primary-dark: #0816c7;
  --ifm-color-primary-darker: #0814bc;
  --ifm-color-primary-darkest: #06119b;
  --ifm-color-primary-light: #0a1af3;
  --ifm-color-primary-lighter: #1323f5;
  --ifm-color-primary-lightest: #3442f7;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #5b66a7;
  }

  strong,
  em {
    color: rgb(41, 131, 138);
  }

  .katex {
    color: rgb(148, 42, 6);
  }

  /* Black tint external link icon */
  a[href^="http"]:not(nav a):not([href^="https://glennhenry.github.io/cs-notes"])::after,
a[href^="//"]:not(nav a):not([href^="//glennhenry.github.io/cs-notes"])::after
  {
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.25em;
    background-image: url("/static/img/external_link.svg");
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
  }
}

html[data-theme="dark"] {
  --ifm-color-primary: #d09bf1;
  --ifm-color-primary-dark: #d08cfa;
  --ifm-color-primary-darker: #c777f9;
  --ifm-color-primary-darkest: #ae39f7;
  --ifm-color-primary-light: #f2e0fe;
  --ifm-color-primary-lighter: #fbf5ff;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #1d1f25;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #a4d2f1;
  }

  strong,
  em {
    color: rgb(107, 197, 126);
  }

  .katex {
    color: rgb(206, 180, 140);
  }

  /* White tint external link icon */
  a[href^="http"]:not(nav a):not([href^="https://glennhenry.github.io/cs-notes"])::after,
a[href^="//"]:not(nav a):not([href^="//glennhenry.github.io/cs-notes"])::after
  {
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.25em;
    background-image: url("/static/img/external_link.svg");
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg)
      brightness(100%) contrast(100%);
  }
}

/* Left and right spacing for main contents */
article {
  margin-left: 20px;
  margin-right: 20px;
}

/* Always underline for link, except navbar and TOC links */
a:not(nav a):not(.table-of-contents a) {
  text-decoration: underline;
}

/* Thin black border for image and video */
img {
  border: 1px solid black;
}

video {
  border: 1px solid black;
}
